riscv-compiler/tmp
riscv-qemu/tmp
setup_speccpu2006/data
setup_speccpu2006/work
setup_speccpu2006/*.tar.gz
setup_speccpu2017/data
setup_speccpu2017/work
setup_speccpu2017/*.tar.gz
make_env.tmp
a.out

